.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  padding-block: 2px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1rem;
  transition: box-shadow 0.3s
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 1s;
}
