<div class="flex flex-col gap-1 w-full">
  <label [for]="identifier" class="text-xs" style="font-family: 'Inter'">{{title}}</label>
  <div class="flex flex-row items-center h-7 rounded border border-gray-300 ps-1 pe-1 pt-0.5 pb-0.5 transition-all duration-700 outline-0 text-xs hover:shadow hover:shadow-accent hover:shadow-gray-500 hover:transition-all hover:duration-150 focus:shadow focus:shadow-accent focus:shadow-gray-500 focus:transition-all focus:duration-150">
    <input [id]="identifier" [name]="identifier" [type]="isConfidential ? 'password' : 'text'"
           [placeholder]="placeholder"
           [formControl]="control"
           style="font-family: 'Inter'"
           class="w-full outline-0"
    />

    <img [src]="isConfidential ? 'assets/icons/visibility_off.svg' : 'assets/icons/visibility_on.svg'"
         class="absolute right-1 hover:font-black cursor-pointer"
         style='color: black'
         [alt]="isConfidential ? 'Show Password' : 'Hide Password'"
         (click)="togglePassword()" />
  </div>

</div>
